body {
  font-family: Montserrat;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

/*body{
    background-color: #ff4c68;
}*/
.container-fluid {
  padding: 3% 10%;
}

h1 {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  padding-left: 50px;
}

h3 {
  font-family: "montserrat-bold";
  font-weight: bold;
  font-size: 1.5rem;
}

P{
color:#8f8f8f;
}

/* features section */
#features{
  padding:7% 15%;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

.myicons {
  color: #ef8172;
}

.myicons:hover{
  color:#ff4c68;
}
