body {
  font-family: Montserrat;
  text-align:center;
}

.top-container{
  background-color: #ff4c68;
  color: #fff;

}




.navbar-nav{
  background-color:white;
  color: black;
}
/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  background-color: #ff4c68;
  color: #fff;
}

.nav-item {
  padding: 0 18px;
  background-color: #ff4c68;
  color: #fff;

}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

/* index2 */

.logo{
  height:200px;
  width:200px;
  background-color: red;
  /*    position: Relative;
  left:200px;
  display:inline-block;   */
  position: absolute;
  top:100px;
  left: 50px;
  }
.school-name{
  height:100px;
  width:100px;
  background-color: yellow;
  /*   position: Relative; */
  /*left:120px;
  bottom:100px;*/
  /* display:inline-block; */
  position: absolute;
  top:-300px;
  left:250px;
}
