


/***** Tag Selector ******/

H1{
  color:red; font-size: 20px;
}



/*
img{
  background-color: yellow;
}
*?

/****class Selector*****/

.Bacon {
  background-color: green;
  }

.Broccoli {
  background-color: red;
  }

.Circular{
  border-radius: 150%;
}
/******  Heading Selector ****/
#heading  {
  Color: Blue;
  }
